[Unit]
Description=mosho command subscriber
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/pi/services/mosho-ircmd/bin/mosho-ircmdd
WorkingDirectory=/home/pi/services/mosho-ircmd/bin
KillMode=process
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
